h1 + p:first-letter {
	float: left;
	font-size: 2.5em; 
	font-weight: bold; 
	margin: 5px 5px 5px 0;
} 

blockquote {
	margin: 1em 2em;
	border-left: 1px dashed #999;
	padding-left: 1em;
}
blockquote p:first-letter {
	float: left;
	margin: .3em .2em .1em 0;
	font-size: 110%;
	font-weight: bold;
}
